@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*:before,
*:after {
  box-sizing: border-box;
}
:root {
  /* Color Palette */
  --primary: #f7f7f7;
  --secondary: #f7f7f7;
  --secondaryHover: #f7f7f1;
  --text: #f7f7f7;
  --negative: #c07c7c;
  --lightGradient: #f7f7f7;
  --darkGradient: #f7f7f7;
  /* Typesize */
  --xl: 77px;
  --lg: 48px;

  --md: 29px;
  --sm: 17px;
  /* Type weight */
  --black: 900;
  --bold: 700;
  --medium: 500;
  --regular: 400;
  --light: 300;
  --thin: 100;
  /* Margin and padding */
  --spaceXL: 96px;
  --spaceLG: 72px;
  --spaceMD: 48px;
  --spaceSM: 24px;
  --spaceXS: 12px;
  /* Border Radius */
  --roundLG: 80px;
  --roundMD: 60px;
  --roundSM: 40px;
  --roundXS: 20px;
  /* Box Shadow */
  --shadow: 0px 20px 5px rgba(248, 231, 231, 0.06);
  --shadowHover: 0px 20px 10px rgba(236, 238, 215, 0.01);
}

/* (1) - Wrapper  */
.wrapper {
  width: 1152px;
  height: 1248px;
  display: grid;
  grid: repeat(26, 1fr) / repeat(24, 1fr);
  margin: var(--spaceMD) auto;
}

/* (2) Balance */
.balance {
  grid-area: 1 / 1 / span 9 / span 13;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGradient);
  border-radius: var(--roundXS);
  box-shadow: var(--shadow); */
  background: linear-gradient(90deg, var(--primary), var(--darkGradient));
  padding: var(--spaceXL);
  border-radius: var(--roundLG);
}
.balance h1,
balance h2 {
  color: var(--negative);
}
.balance header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spaceLG);
}
date.h1 {
  font-size: var(--lg);
  font-weight: var(--light);
}
date.h2 {
  font-size: var(--md);
  font-weight: var(--thin);
}
.percentage h1 {
  font-size: var(--lg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.percentage h2 svg {
  font-size: var(--spaceXS);
  transform: scale(1.2);
  transform-origin: center center;
}
.percentage h1 svg path {
  fill: var(--negative);
}
.balance footer h1 {
  font-weight: var(--back);
}
.balance footer h1 span:first-child {
  font-size: var(--lg);
}
.balance footer h1 span:last-child {
  font-size: var(--xl);
  /* font-weight: var(--thin); */
}
/* (3) - Summary */
.summary {
  grid-area: 11/1 / span 16 / span 13;
  background: linear-gradient(180deg, var(--negative), var(--lightGradient));
  padding: var(--spaceXL);
  border-radius: var(--roundLG);
  box-shadow: var(--shadow);
}

.summary h1 {
  color: var(--text);
  font-weight: var(--light);
}
.summary header h1 {
  font-size: var(--lg);
}
.account-number,
.transactions-limit {
  background-color: var(--negative);
  border-radius: var(--roundSM);
  box-shadow: var(--shadow);
  padding: var(--spaceLG);
  margin-top: var(--spaceMD);
}
.account-number h1,
.transactions-limit h1 {
  font-size: var(--md);
}
.account-number h1:last-child,
.transactions-limit h1:last-child {
  font-weight: var(--bold);
}
/* (4) - Payment  */
.payment-due {
  grid-area: 1/15 / span 5 / span 10;
  background: linear-gradient(180deg, var(--negative), var(--lightGradient));
  padding: var(--spaceLG);
  border-radius: var(--roundMD);
  box-shadow: var(--shadow);
}
.payment-due h1 {
  color: var(--secondary);
  font-size: var(--md);
}
.payment-due h1:first-child {
  font-weight: var(--light);
  margin-bottom: var(--spaceXS);
}

/* (5) - Activities  */
.activities {
  grid-area: 7/15 / span 18 / span 10;
  background: linear-gradient(180deg, var(--negative), var(--lightGradient));
  /* padding: var(--spaceXL); */
  border-radius: var(--roundLG);
  box-shadow: var(--shadow);
}
.activities h1 {
  color: var(--text);
  font-weight: var(--light);
  font-size: var(--lg);
  padding: var(--spaceXL) var(--spaceXL) var(--spaceSM) var(--spaceXL);
}
.activities main ul {
  list-style: none;
}
.activities main ul li {
  padding: var(--spaceSM) var(--spaceXL);
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activities main ul li span:first-child {
  font-size: var(--sm);
  font-weight: var(--bold);
}
.activities main ul li span:last-child {
  font-size: var(--md);
  font-weight: var(--light);
}
.activities footer {
  padding: var(--spaceXS) var(--spaceXL) var(--spaceXL) var(--spaceXL);
}
.activities button {
  width: 100%;
  border: none;
  outline: none;
  padding: var(--spaceXS);
  border-radius: var(--roundSM);
  font-size: var(--md);
  background-color: var(--secondary);
  color: var(--negative);
}
/* (6) -- Interactions*/
.wrapper * {
  transition: all 0.2s ease-out;
}
.balance:hover {
  /* grid-area: 1 / 1 / span 9 / span 13; */
  background: linear-gradient(180deg, var(--primary), var(--darkGradient));
  transform: scale(1.01);
}
.payment-due:hover,
.activities:hover,
.summary:hover,
.account-number:hover,
.transactions-limit:hover {
  background: linear-gradient(180deg, var(--negative), var(--lightGradient));
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: var(--shadowHover);
}
.activities ul li:hover {
  box-shadow: var(--shadow);
  cursor: pointer;
  transform: translateY(-5px);
}
.activities button:hover {
  cursor: pointer;
  background-color: var(--secondaryHover);
}
/* (7) Animation */
@keyframes fadew {
  to {
    opacity: 1;
  }
}
.blance,
.payment-due,
.activities,
.summary {
  animation: fadew;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 0;
}
.balance {
  animation-delay: 0.5s;
}
.payment-due {
  animation-delay: 0.6s;
}
.activities {
  animation-delay: 0.7s;
}
.summary {
  animation-delay: 0.8s;
}
/* (8) Ressponsive */

@media (max-width: 1170px) {
  .wrapper {
    width: 672px;
    height: 1872px;
    display: grid;
    grid: repeat(39, 1fr) / repeat(7, 1fr);
  }
  /* (8.1) Ressponsive grid and padđing */
  .balance,
  .payment-due,
  .summary {
    grid-column: 1 / span 7;
    padding: var(--spaceMD);
    border-radius: var(--roundSM);

    /* padding: var(--spaceXL);
    border-radius: var(--roundLG); */
  }
  .balance {
    grid-row: 1 / span 5;
  }
  .payment-due {
    grid-row: 7 / span 4;
  }
  .activities {
    grid-column: 1 / span 7;
    grid-row: 12 / span 16;
    border-radius: var(--roundLG);
  }
  .summary {
    grid-row: 29 / span 11;
  }
  /* (8.2) Ressponsive balance typegraphy */
  .balance header {
    margin-bottom: var(--spaceSM);
  }
  date.h1 {
    font-size: var(--md);
    font-weight: var(--regular);
  }
  date.h2 {
    font-size: var(--sm);
    font-weight: var(--light);
  }
  .percentage h1 {
    font-size: var(--md);
  }
  .balance footer h1 span:first-child {
    font-size: var(--md);
  }
  .balance footer h1 span:last-child {
    font-size: var(--xl);
    /* font-weight: var(--thin); */
  }
  /* (8.3) responsive summary*/
  .summary h1 {
    font-weight: var(--regular);
  }
  .summary header h1 {
    font-size: var(--md);
  }
  .account-number,
  .transactions-limit {
    padding: var(--spaceMD);
  }
  .account-number h1,
  .transactions-limit h1 {
    font-size: var(--sm);
  }
  /* (8.4) Responsive activities */
  .activities h1 {
    font-weight: var(--regular);
    font-size: var(--md);
    padding: var(--spaceMD) var(--spaceMD) var(--spaceSM) var(--spaceMD);
  }
  .activities main ul li {
    padding: var(--spaceSM) var(--spaceMD);
  }
  /* .activities main ul li span:first-child {
    font-size: var(--sm);
    font-weight: var(--bold);
  } */
  .activities main ul li span:last-child {
    font-size: var(--sm);
    font-weight: var(--regular);
  }
  .activities footer {
    padding: var(--spaceMD);
  }
  .activities button {
    border-radius: var(--spaceSM);
    font-size: var(--sm);
  }
}
@media (max-with: 710px) {
  .wrapper {
    width: 336px;
  }
}
